.main-section {
    position: relative;
    display: flex;
    height: 100vh;
    background-image: url("/Sostenibilita_ambientale.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    letter-spacing: 2px;
    overflow: hidden;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@keyframes pop-up {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.main-section-text {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 65%;
    right: 10%;
    z-index: 2;
    max-width: 600px;
    text-align: center;
    color: #2043BF;
    text-shadow: white 0 0 5px;
}

.main-section-text h1 {
    margin-bottom: 20px;
    font-size: 5rem;
}

.main-section-text p {
    font-size: 1.5rem;
    line-height: 1.6;
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.main-section-text {
    opacity: 0;
    transform: translateX(-100%);
    animation: slideInLeft 1s ease-out forwards;
}

@media screen and (max-width: 768px) {
    .main-section {
        height: 300px;
    }

    .main-section-text {
        max-width: 90%;
        padding: 10px;
        top: 15%;
        right: 5%;
    }

    .main-section-text h1 {
        font-size: 2rem;
    }

    .main-section-text p {
        font-size: 1rem;
    }
}