.contact-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    color: #2043BF;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.contact--title {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 20px;
}

.contact--description {
    font-size: 2rem;
    text-align: center;
}

.contact--list {
    list-style: none;
    font-size: 30px;
}

.contact--list img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.contact--list li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.copy-success {
    margin-left: 10px;
    color: #2043BF;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #2043BF;
}

@media screen and (max-width: 430px) {
    .contact--title {
        font-size: 3rem;
    }

    .contact--description {
        font-size: 1.5rem;
    }

    .contact--list {
        font-size: 20px;
    }

    .contact--list img {
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 412px) {

    .contact--list {
        padding: 0;
    }
}